{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Y O B A</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>
<body>
		<div class="menu">
		{% if user.is_authenticated %}
		<a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
		<a href="{% url 'post_draft_list' %}" class="top-menu"><span class="glyphicon glyphicon-edit"></span></a>
		<p class="top-menu">Hello {{ user.username }} <small>(<a href="{% url 'logout' %}">Log out</a>)</small>
		{% else %}
		<a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
		
		{% endif %}
		</div>
	<div class="page-header">
		<h1 class="title"><a href="/" class="title-text">Y O B A</a></h1>
	
	</div>

	<div align="center">
		<p><div class="tenor-gif-embed" data-postid="9718895" data-share-method="host" data-width="15%" data-aspect-ratio="1.0"><a href="https://tenor.com/view/thinking-gif-9718895">Thinking GIF</a> from <a href="https://tenor.com/search/thinking-gifs">Thinking GIFs</a></div><script type="text/javascript" async src="https://tenor.com/embed.js"></script></p>
	</div>

	<div class="content container">
		<div class="row">
			<div class="col-md-12">
				{% block content %}
				{% endblock %}
			</div>
		</div>
	</div>
</body>
</html>